/* src/styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* small utility for line-clamp if tailwind plugin not present */
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
body { @apply bg-gray-100; }
